@keyframes spin { /*defines spinning animation for the spinner*/
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spinner{ /*defines the spinner*/
  font-size: 140px;
  animation: spin 2s linear infinite; /*makes the spinner spin*/
  display: inline-block;
  padding-bottom: 12px;
}
.spinner:after {
  content: '◌';
}

#chart {
    border: 1px solid black;
}
